.caroussel_div {
    background-color: white;
    overflow: hidden;
    height: 415px;
    object-fit: cover;
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    z-index: 2;
    text-align: center;
}

.a_proj {
    width: 100%;
}

.caroussel_img {
    display: flex;
    min-width: 100%;
    object-fit: cover;
    height: 100%;
    transition-duration: 1s;
}

.previous_button, .next_button {
    display: flex;
    color: rgb(40, 38, 38);
    font-size: 80px;
    cursor: pointer;
    position: absolute;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 5%;
    height: 100%;
}

.next_button {
    right: 0;
}

.previous_button {
    left: 0;
}

@media screen and (max-width: 768px) {
    .caroussel_div {
        display: none;
    }
}

